*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

img{
   width:100%
}

html{
   scroll-behavior: smooth;
}
.hr-style{
   border: 5px dotted white;
   border-bottom: none;
   width: 50px;
}
      /* Header part CSS start */
.header{
   background-image: url("background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.navbar{
   padding: 1% 10%;
   background-color: rgba(0,0,0,0.3);
}

.navbar-icon{
   color:#fff;
}
.nav-link{
   color: white;
   margin: 10px;
   border-radius: 5px;
   transition: .4s;
}

.nav-link:hover{
   background: #2980b9;
   color: white;
   transform: scale(1.1);
}

.banner-container{
   height: 100vh;
}

.banner-container h1{
   font-size: 3.5rem;
}
     /* Header part CSS End */

     /* Features Part Css start */
      #feature{
         padding: 5% 10%;
         background: #e8ded2;
      }
      .features-col{
         border: 1px solid #ff02c0;
         border-radius: 5px;
         padding: 15px;
         margin: 20px 0;
         transition: .4s;
     }

     .features-col:hover{
      transform: scale(1.1);
    box-shadow: 2px 5px 6px black;
  }
  .icon-style{
   background: #bb0aac;
   color: white;
   padding: 15px;
   margin: 5px 0;
}
     /* Features Part Css End*/

     /* Tutorial Part Css Start*/
     #tutorial{
      padding: 4% 10%;
      background: #a3d2ca;
  }
  .card{
   transition: .4s;
   border: 1px solid #ff02c0;
}

.card:hover{
   transform: scale(1.1);
   box-shadow: 2px 6px 5px black;
}

     /* Tutorial Part Css End*/

     /* feedback CSS :start */
     #feedback{
      padding: 5%;
      background: #5eaaa8;
  }

  .carousel-item{
   text-align: center;
   padding: 7% 15%;
   font-style: italic;
   font-size: 1.2rem;
}
.feedback_img{
   width: 160px;
   height: 160px;
   line-height: 160px;
   border-radius: 50%;
   margin-bottom: 35px;

   
}
     /* feedback CSS :End */

     /* Contact CSS SRTARTS here */
     #contact{
      padding: 2% 10%;
      background: #5eaaa8;
  }

     /* Contact CSS end here */
     
     /* footer starts  */
footer{
    padding: 1% 10%;
    background: #056676;
}

footer a {
    color: white;
    margin: 0 10px;
}
footer a:hover{
    color: black;
}
/* footer ends */
